body{
    margin:0;
    padding :0;
    height:100vh;
    width:100vw;
    font:'Poppins' ,sans-serif;
    justify-content:center;
    align-items: center;
    display:flex;
    flex-direction:column;
    background: linear-gradient(to right, #ff5fc4, #feb47b);

   
    
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 22vw;
    background-color: white;
    margin: auto;
    box-sizing: border-box;
    border-radius: 15px;
box-shadow: 0 4px 20px rgba(215, 33, 164, 0.75);
 padding :8px;
}
.container{
    display:flex;
    flex-direction:column;
    align-items: center;
    height: 60vh;
    width: 30vw;
    justify-content: center;
   
 
}
#signup-form{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width:100%;
    height:100%;
    padding:10px;
    
}
input{
    border-radius:5px;
    height:30px;
    border:2px solid pink;
    width: 70%;
    padding:7px;
    margin :10px;
   }

#sign_up{
  border-radius:10px;
  background-color: #f41c4b;
  width:25%;
  height:30px;
  margin:5px;
   border:none;
 font-weight:bold;
  cursor: pointer;
 color:white;
  
}
#signup-message{
 
    margin : 10px;
    
}
#signup-form div{
    margin-top:10px;
}

h1{
    color:white;
    font-weight:bold;
}